<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="pt-3 pb-3">
  <h2 class="text-left ml-2">
      Welcome to {{ title }}
  </h2>
</div>
<div class="pt-2 pb-2">
  <nav>
    <a class="btn btn-default" role="button" routerLink="/alltriggersummary">All Triggers Summary</a>
    <a class="btn btn-default" role="button" routerLink="/failedtriggerssummary">Failed Triggers Summary</a>
    <a class="btn btn-default" role="button" routerLink="/dashboard">Log Details</a>
  </nav>
</div>
<router-outlet></router-outlet>
