<div class="row parts-search pt-3 pb-3">
  <div class="col-4 col-sm-4 col-md-4 input-group">
    <input #searchBox
           id="search"
           class="form-control"
           type="text"
           [placeholder]="'FAILED.SEARCH_TRUCKCENTERS'">
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="search(searchBox.value)">{{'SEARCH'}}</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-left">QueueName</div>
    <div class="col-sm-2 col-left">TruckCenter</div>
    <div class="col-sm-1 col-left">PK</div>
    <div class="col-sm-2 col-left">Parameter</div>
    <div class="col-sm-2 col-left">RequestTypeID</div>
    <div class="col-sm-2 col-left">AddedOn</div>
  </div>
  <div class="row" *ngFor="let triggerDetail of failedTriggerList | paginate: { itemsPerPage: 20, currentPage: p}">
    <div class="col-2 col-left text-left border">{{triggerDetail.InterfaceQueueName}}</div>
    <div class="col-2 col-left text-left border">{{triggerDetail.TruckCenter}}</div>
    <div class="col-1 col-left text-left border">{{triggerDetail.PK}}</div>
    <div class="col-2 col-left text-left border">{{triggerDetail.Parameter}}</div>
    <div class="col-2 col-left text-left border">{{triggerDetail.RequestTypeID}}</div>
    <div class="col-2 col-left text-left border">{{triggerDetail.AddedOn | date: "yyyy.MM.dd"}}</div>
    <button type="button" class="btn btn-light" title="resend">resend</button>
  </div>
</div>
<div class="container-fluid">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
